| Hi #{name}, \n You are recieving this because, hopefully you, have requested for your password to be changed for your Taskful account. Please head over to the following link or paste it into your browser to reset your password. https://#{host}/reset/#{token} \n If you did not request for your password to be changed, please disregard this email. \n Kind regards, \n Team Taskful
