| Your password has changed. \nWe're just letting you know that your password has changed. If you had nothing to do with it, please change contact us immediately. \nGet support by visiting https://#{host}/support
