@import 'jeet'
@import 'nib'
cfont = "Fakt"
cgreen = #0BCF4E
cprimary = #2ab3f7
cgrey = #414d5d
lightgrey = #f1f1f1
cgr = #8492a6
cgrdark = #3b4350
cred = #FF004C
pbluelight = #616D7E

@import 'ui.styl'
@import 'nav.styl'
@import 'buttons.styl'
@import 'tooltip.styl'
@import 'toggle.styl'
@import 'layout.styl'
@import 'status.styl'
@import 'dropdown.styl'
@import 'modals.styl'
