nav
	min-width 1220px
	background-color #fff
	border-bottom 1px solid #EAEDF5
	position relative

.global-search
	min-width 320px
	display inline-block
	vertical-align top
	position relative
	i
		color cgr
		absolute left 23px top 9px
		font-size 1.1rem
	input
		width 100%
		padding 8px 15px 8px 45px
		border 0
		border-radius 0
		height auto
		font-size 1rem
		border-left 1px solid #e1e5ed
		outline 0
		&:focus
			border-color #e1e5ed
		+placeholder()
			font-weight 300

.top
	fixed top left
	span(1/1)
	z-index 2000


.user-i
	width 41px
	height 41px
	border-radius 50%
	font-weight 600
	line-height 41px
	text-align center
	background-color #0ADEAB
	cursor pointer
	font-size 1rem
	relative top -4px
	&_sm
		width 31px
		height 31px
		line-height 31px
		font-size 0.8rem
	a
		color #fff

.sub
	&-title
		display inline-block
		vertical-align top
	&-options
		display inline-block
		vertical-align top
		float right
		padding 11px 0

.sub-nav
	fixed top 65px left 0
	width 100%
	background-color #fff
	z-index 1000
	padding 0 30px
	&-inner
		h1
			margin 0
			font-weight 600
			padding: 15px 0 18px 0;
			font-size: 1.3rem;
			letter-spacing: -0.4px;

.nav-inner
	padding 15px 30px
	.nav-right
		display inline-block
		vertical-align top
		float right
		& > *
			display inline-block
			vertical-align top
	.nav-workspace
		display inline-block
		vertical-align top
		.workspace
			font-weight 600
			font-size 18px
			margin 0
			color #fff
	.nav-logo
		display inline-block
		vertical-align top
		margin-right 26px
		height 30px
		margin-top 4px
		img
			margin-top 4px
			max-height 20px
	.nav-links
		line-height 34px
		margin-right 36px
		display inline-block
		vertical-align top
		a
			color pbluelight
			font-size 1rem
			cursor pointer
			font-weight 400
			& + a
				margin-left 39px
			&.active
				color cprimary
			&:hover
				color cprimary
