.center-form
	height 100%
	span(1/1)
	background-color #fff
	text-align center
	&_continue
		span(1/1)
		margin-top 25px
	&_inner
		center(750px)
		cf()
		padding 95px 20px
	h1
		font-size 2.4rem
		margin 0 0 10px 0
		color cgrey
	p
		color cgr

.logo
	&-fixed
		fixed top 22px left 30px
		img
			max-height 22px

.complete
	span(1/1)
	margin-top 45px
	.field
		text-align left
	&-left
		col(2/3)
	&-right
		col(1/3)

.avatar-create
	height 180px
	width 180px
	border-radius 50%
	border 2px dashed bordergrey
	float right
	line-height 180px
	cursor pointer
	transition all 0.14s ease
	&:hover
		border 2px solid cprimary
		p
			color cprimary
	p
		margin 0
		font-size 1rem
		color cgr
