.project-status
	width 13px
	height 13px
	border-radius 100%
	content ""
	display block
	overflow hidden
	relative top 13px left
	border 2px solid white
.status
	&_green
		background-color cgreen
		box-shadow 0 0 0 1px cgreen
