placeholder()
		&::-webkit-input-placeholder
				{block}
		&:-moz-placeholder
				{block}
		&::-moz-placeholder
				{block}
		&:-ms-input-placeholder
				{block}

*
	box-sizing border-box
	font-smooth always
	-webkit-font-smoothing antialiased

::-webkit-scrollbar-track
	background-color transparent

::-webkit-scrollbar-thumb
	background-color rgba(0, 0, 0, 0.18)

::-webkit-scrollbar-corner
	background rgba(0, 0, 0, 0)
	border 0
	outline 0


html
	height 100%
	width 100%

body
	font-family cfont, sans-serif
	height 100%
	width 100%
	font-size 16px
	text-rendering optimizeLegibility
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	text-shadow 1px 1px 1px rgba(0, 0, 0, 0.004)
	background-color #fff
	color #444
	overflow-y overlay
	overflow-x hidden
	margin 0

.bull
	margin 0 4px

p
	margin 0
	font-size 1rem

a
	text-decoration none
	color cprimary

.bg-primary
	background-color cprimary

.form-control
	span(1/1)
	margin-top 30px

.field
	span(1/1)
	& + .field
		margin-top 15px
	&.has-btn
		margin-top 22px
label
	font-size 1rem
	color #444
	padding 6px 0
	display block

sup, sub
	vertical-align baseline
	position relative
	top -0.4em

sub
	top 0.4em


input[type="text"], input[type="password"], .ce-input, .select-dropdown
	font-family cfont, "helvetica", sans-serif
	padding 0 1rem 0 1rem
	height 3rem
	border 0
	border 1px solid bordergrey
	border-radius 2px
	font-size 1rem
	width 100%
	outline 0
	transition border-color 0.14s ease
	color #3c4858
	position relative
	+placeholder()
		color lighten(cgr, 13%)
		font-weight 400
	& + .btn
		margin-left 8px
	&:hover
		border-color darken(bordergrey, 7%)
	&:focus
		border-color cprimary
.is--disabled
	background-color #F9FAFC
	color #fff
	pointer-events none
	cursor default
.input-sm
	height 2.4rem
	font-size 0.88rem
	line-height 20px

.input_err
	border-color cred !important

.select-dropdown
	.selected_item
		line-height 2.9rem
		text-align left
		&:after
			font-family 'Ionicons'
			content '\f104'
			absolute right 1rem top 1px
			font-size 1.4rem
			color lighten(cgr, 52%)
		&:empty:before
			content attr(placeholder)
			color lighten(cgr, 13%)
			font-weight 400
	&:focus
		border-color cprimary
		.select-dropdown_items
			display block
		.selected_item:after
			color cprimary
	ul
		span(1/1)
		width calc(100% + 2px)
		list-style none
		border 1px solid cprimary
		border-top 0
		absolute top 2.8rem left -1px
		overflow hidden
		z-index 150
		padding 5px 0 10px 0
		margin 0
		border-radius  0 0 3px 3px
		text-align left
		background-color #fff
		display none
		li
			padding 6px 1rem
			cursor pointer
			&:hover
				p
					color cgrey
			p
				margin 0 0 0 11px
				font-size 1rem
				color pbluelight
				display block
			& > *
				display inline-block
				vertical-align top
			.text-preview
				height 25px
				width 25px
				span
					line-height 25px
					font-size 1.1rem

.ce-input
	padding 7px .9rem 6px 0.9rem
	line-height 30px
	&:empty:before
		content attr(placeholder)
		color #C0C1C6
.contents
	padding 0 20px

.center
	center(1220px, 33px)

.header-block
	h1
		font-weight 300
		font-size 54px
		vertical-align top
		display inline-block
		margin 0

.border-blue
	&:hover
		border-color cprimary
.border-yellow
	&:hover
		border-color cyellow
.border-green
	&:hover
		border-color cgreen

.color-primary
	color cprimary !important
	&:hover
		color darken(cprimary, 12%)
		&:after
			border-color darken(cprimary, 12%) !important
	&:after
		border-color cprimary !important
.color-yellow
	color cyellow !important
	&:hover
		color darken(cyellow, 8%)
		&:after
			border-color darken(cyellow, 8%) !important
	&:after
		border-color cyellow !important
.color-green
	color cgreen !important
	&:hover
		color darken(cgreen, 10%)
		&:after
			border-color darken(cgreen, 10%) !important
	&:after
		border-color cgreen !important
.wrapper
	padding 84px 0 40px 0
	min-width 1220px

.invite_accept
	&:hover
		color cgreen !important
.invite_decline
	&:hover
		color cred !important
.empty_content
	span(1/1)
	border 1px solid lightgrey
	text-align center
	padding 60px 20px
	margin-top 12px
	h2
		font-weight 300

.is-empty
	align(both)
	&_alert
		font-size 1.7rem
		margin 0

.section
	border 1px bordergrey solid
	border-radius 3px
	margin-top 20px
	word-break break-all
	span(1/1)
	padding 25px 30px
	&-head
		span(1/1)
		margin-bottom 23px
	h3
		font-size 1.4rem
		margin 3px 0 0 0

.input-2
	span(1/1)
	&_contain
		col(1/2, cycle: 2)
		input
			width 100%
			display block
.group-2
	col(1/2, cycle: 2)
