doctype html
html(lang="en")
	head
		title Swash | Forgot password
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(src='https://code.jquery.com/jquery-2.2.2.min.js')
		link(rel="stylesheet", type="text/css", href="../css/static.css")
		link(rel="stylesheet", type="text/css", href="../fonts/font.css")
	body
		.view
			.view-left
				.fixed-logo
					img(src="/images/taskful.png", alt="")
				.view-left_inner
					h3 Forgot password?
					p Type in your email below to reset your password
					.field
						input.form-email(type='text', name="email", placeholder="Email address")

					.field.submit-login
						a.btn.btn-submit Let's find it
			.view-right
				.no-account
					p Don't have an account? #[a(href="/register") Sign up for Taskful]
				small.tc-text By logging in to Taskful and using the platform, you are agreeing to our #[a Terms of Service] and #[a Privacy Policy].

script.
	$('.btn-submit').click(function() {
		var data = {};
		data.email = $('.form-email').val();
		$.post("/forgot", 'email=' + data.email, function(data) {
			JSON.stringify(data);
			console.log(data)
		});

	});
