doctype html
html(lang="en")
	head
		title Swash | Login
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(src='https://code.jquery.com/jquery-2.2.2.min.js')
		script(src='../js/tether.min.js')
		script(src='../js/drop.min.js')
		link(rel="stylesheet", type="text/css", href="../css/static.css")
		link(rel="stylesheet", type="text/css", href="../css/drop-theme-arrows.css")
		link(rel="stylesheet", type="text/css", href="../fonts/font.css")
		link(rel="stylesheet", type="text/css", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
	body#plans
		.module-head
			.container
				nav.nav-navbar.inverse
					include static/header.jade
				.module-head_title
					.module-head_center
						h3 Pricing plans
						p Flexible plans for you & your team. No contracts.
		.module-plans
			.container
				.plan
					.plan_type
						h6 Hobby
						p Always will be free!
					.plan_price
						h2 0
						small per month
					.plan_features
						ul
							li Up to 2 teams
							li Up to 6 organisation members
							li Up to 5 projects
							li Unlimited tasks
							li Unlimited posts
							li Up to 3GB of storage
				.plan
					.plan_type
						h6.color-green Pro
						p Power up
					.plan_price
						h2 14
						small per month
					.plan_features
						ul
							li Unlimited teams
							li Up to 10 organisation members #[i.ion-help-circled.feature-drop_pro]
							li Unlimited projects
							li Unlimited tasks
							li Unlimited posts
							li Up to 10GB of storage
							li Add reviewers & clients
							li Private projects
							li Password protected projects
				.plan
					.plan_type
						h6.color-yellow Turbo
						p No limits
					.plan_price
						h2 32
						small per month
					.plan_features
						ul
							li Unlimited teams
							li Up to 16 organisation members #[i.ion-help-circled.feature-drop_turbo]
							li Unlimited projects
							li Unlimited tasks
							li Unlimited posts
							li Up to 40GB of storage
							li Add reviewers & clients
							li Private projects
							li Password protected projects
							li Team user roles
							li Client proposals
			.container.plan-actions
				.plan-action.current-plan
					a.disabled-default.btn-block Current Plan
				.plan-action.upgrade
					a.btn.btn-green.btn-block Upgrade
				.plan-action.upgrade
					a.btn.btn-green.btn-block Upgrade
		.module-sub.module-includes
			.container
				h3 What does every plan include?
				.includes
					.include
						h4 Team support
						p Invite members and collaborate efficiently with your team.
					.include
						h4 A single organisation
						p Once you sign up with Taskful, you can create an organisation to invite members.
					.include
						h4 Secure storage
						p Security is key when it comes to personal files, and you get 3GB of it for free.
					.include
						h4 Unlimited posts
						p All plans come with unlimited posts & snippets, so that you can easily share info with your team.
					.include
						h4 Unlimited tasks
						p Easily create, assign and complete as many tasks as you like with your team to get your project on course.
					.include
						h4 Help
						p Get assistance whilst getting set up with Taskful. Hit us up with a #[a message].
						
		.module-sub
			.container
				h3 Frequently asked questions
				.faqs-list
					.faqs
						.faq
							h4 How can I upgrade my plan?
							p You can easily upgrade your plan above, simply by hitting 'Upgrade' below the plan on choice. Once you've done that, you'll be redirected to checkout where you can add more users if needed, then finally pay with your preferred payment method.
						.faq
							h4 What forms of payment do you accept?
							p We accept Visa, MasterCard, American Express, and Discover cards. More methods are to come soon.
						.faq
							h4 Is my payment information secure?
							p All payments are securely processed by industry leader, Stripe. Your card information never even lands on our servers.
						.faq
							h4 When can I upgrade or downgrade?
							p You can upgrade or downgrade at any time. If you upgrade, your previous subscription, if not a Hobby plan, will be prorated onto your next renewal. If you downgrade at any time, you will recieve credit on your next renewal.
					.faqs
						.faq
							h4 What kind of support is included in each plan?
							p We offer account-level email support for each user to help out with getting settled in, billing or service quality issues.
						.faq
							h4 When will I be billed?
							p You will be invoiced every subseqent month from the day you upgraded your account. For example, if you upgraded on the 16th of February, you'll be billed again on the 16th of March.
						.faq
							h4 What happens if I miss my payment?
							p You'll be reminded 7 days after your invoice date if you haven't paid. If you still haven't paid 20 days after the invoice date, you will be downgraded to the Hobby plan. Note that some of your data may be deleted if this is the case.
						.faq
							h4 Do you offer academic pricing?
							p We're happy to work with student groups using Taskful. Send us a #[a message] for a chat!
														
		footer.main-footer
			.container
				.main-footer_list
					ul.main-footer_list-col
						li.footer-header Taskful
						li #[a Platform]
						li #[a Pricing]
						li #[a Apps]
					ul.main-footer_list-col
						li.footer-header Resources
						li #[a Docs]
						li #[a Support]
						li #[a Status]
					ul.main-footer_list-col
						li.footer-header Company
						li #[a About us]
						li #[a Brand assets]
						li #[a Contact]
					ul.main-footer_list-col
						li.footer-header Connect
						li #[a Facebook]
						li #[a Twitter]
						li #[a Slack]
				.main-footer_subscribe
					.disabled-default Get the latest updates!
					.field
						input(type="text",placeholder="Email address")
						a.btn-join Join
		footer.sub-footer
			.container
				.sub-footer-contain
					.sub-footer_left
						&copy; 2016 Taskful
					.sub-footer_center
						span taskful.io
					.sub-footer_right
						span #[a Privacy] & #[a Terms]
script.
	$('html, .dropdown li').bind("click", function(){
		$('.dropdown').hide();
	});
	$('.dropdown, .dropdown-toggle').bind("click", function(e){
		e.stopPropagation();
	});
	$('.dropdown-toggle').bind("click", function(e){
		if ($('.dropdown').length) {
			$('.dropdown').hide();
		}
		$(this).siblings('.dropdown').toggle();
	});
	
	var dropPro;
	dropPro = new Drop({
		target: document.querySelector('.feature-drop_pro'),
		content: 'From within the Pro plan, you can add additional members to your organisation for $1.4/user per month. This will also add 2GB per user to your storage allowance.',
		classes: 'dropPro',
		position: 'left top',
		openOn: 'hover'
	});
	
	var dropTurbo;
	dropTurbo = new Drop({
		target: document.querySelector('.feature-drop_turbo'),
		content: 'From within the Turbo plan, you can add additional members to your organisation for $2/user per month. This will also add 3GB per user to your storage allowance.',
		classes: 'dropPro',
		position: 'left top',
		openOn: 'hover'
	});
