doctype html
html(lang="en")
	head
		title Swash | Login
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(src='https://code.jquery.com/jquery-2.2.2.min.js')
		link(rel="stylesheet", type="text/css", href="../css/static.css")
		link(rel="stylesheet", type="text/css", href="../fonts/font.css")
	body
		.view
			.view-left
				.view-left_inner
					h3 Sign up for Taskful
					p Get started. It's only free.
					.field
						input.form-fullname(type='text', name="fullname", placeholder="Full name")
					.field
						input.form-name(type='text', name="username", placeholder="Username")
					.field
						input.form-email(type='text', name="email", , placeholder="Email address")
					.field
						input.form-password(type='password', name="password", placeholder="Password (min. 6 characters)", autocomplete="new-password")
					.field.submit-login
						a.btn.btn-submit Create your free account
			.view-right
				.no-account
					p Already have an account? #[a(href="/login") Sign in]
				small.tc-text By proceeding to create your account and use Taskful, you are agreeing to our #[a Terms of Service] and #[a Privacy Policy].
script.
	$('.btn-submit').click(function() {
		var data = {};
		data.username = $('.form-name').val();
		data.fullname = $('.form-fullname').val();
		data.email = $('.form-email').val();
		data.password = $('.form-password').val();
		data.repassword = $('.form-password').val();
		$.ajax({
			url: "/register",
			type: "POST",
			contentType: 'application/json',
			data: JSON.stringify(data),
			success: function(data) {
				JSON.stringify(data);
				console.log(data);
				if (data.status == "OK")
					window.location.replace("/profile");
			}
		})
	});
